


/* About me */
#about { min-height: 100vh; }

#about-me {
	display: flex; 
	flex-direction: column;
	margin: auto;
	padding-top: 200px;

	color: #fff;
	width: var(--content-width);

	opacity: 0;
	transform: translateY(100%);
	transition: opacity 1s ease-in-out, transform 0.5s ease;
}
  
.about-container p {
	font-size: 1.2rem;
	color: #d6d6d6;
	margin: 10px;
}

#contacts {
	display: flex;
	flex-wrap: wrap;
	/* grid-template-columns: repeat(auto-fit, minmax(200px, 50%)); */ /* grid is used if there are more items to display */
	padding-top: 25px;
	justify-items: center;

	width: var(--content-width);
	margin: auto;

	opacity: 0;
	transform: translateY(100%);
	transition: opacity 1s ease-in-out, transform 1s ease;
}

#contacts a {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: auto;
	width: 300px;

	padding: 20px 0px;
}

#contacts a p {
	font-size: 1rem;
	padding: 10px; 
}

/* projects */
#projects {
	padding-top: 200px;
	padding-bottom: 200px;
	margin: auto;
	width: 50%;
	min-height: 100vh;
}

#project-header {
	opacity: 0;
	transform: translateY(100%);
	transition: opacity 1s ease-in-out, transform 1s ease;
}

/* project filter */
.filter-item {
	cursor: pointer;
	margin: 15px 15px 15px 0;
	display: inline-block;
	padding: 10px 20px;
	font-size: 12px;
	line-height: 20px;
	color: var(--mascot-color-light);
	border-radius: 4px;
	text-transform: uppercase;

	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
}

.filter-active {
	background-color: var(--mascot-color);
	font-weight: bold;
	color: #ffffff !important;
}

/* project items */
#project-list {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.project-item {
	display: none;  /* should be flex when visible */

	transform: translateY(300%);
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in;
	gap: 2rem;
}

.project-date { width: 4rem;}

.project-showcase {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	flex-wrap: wrap;
	gap: 0.5rem;
	width: 100%;
}

.link-icon { height: 30px; }

.show { display: flex; } /* used to show .project-item */


#project-list:hover .project-item {
	opacity: 0.5 !important;
	transition: opacity 0.2s ease-in;
}

#project-list:hover .project-item:hover {
	opacity: 1 !important; 
	transition: opacity 0.2s ease-in;
}

#project-list:hover .project-item:hover .project-showcase .project-title .link-icon {
	transform: translate(10%, -10%) !important;
	transition: translate 0.2s ease-in;
}



